/Library
/ProjectSettings
/obj/Debug
/Temp
/Logs
/.vs
/.vs/My project/v16
/Logs
/obj
/UserSettings
UserSettings/Layouts/default-2022.dwlt
/Assets/*
!/Assets/Scrpits
!/Assets/Scenes
/Assets/Oculus
/Assets/TextMesh Pro
/Assets/Yughues Fabric Materials
.vs/My project/v16/.suo
