/Library
/ProjectSettings
/obj/Debug
/Temp
/Logs
/Logs
/Logs
/.vs
/.vs/My project/v16
/Logs
/obj
/UserSettings
UserSettings/Layouts/default-2022.dwlt
/Assets/*
!/Assets/Scrpits
/Assets/Oculus
/Assets/TextMesh Pro
/Assets/Yughues Fabric Materials
